* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
:focus {
  outline: none !important;
}

.react-select-container {
  border: none !important;
  padding: 0;
}
.__input-container {
  padding: 0;
}
.__control {
  outline: none !important;
  background: #e4e7eb !important;
  border: none !important;
  padding: none;
  box-shadow: none !important;
}
.__control:hover,
.__control:focus,
.custom-select,
.custom-select:hover,
.custom-select:focus,
.__control.__control--is-focused {
  outline: none !important;
  border-color: none !important;
}
.__input-container {
  padding: 0 !important;
}
.__value-containe {
  padding: 14px !important;
}
.__single-value {
  font-size: 16px !important;
  padding: 14px !important;
}
.__value-container {
  padding: 0rem !important;
}
